/********************************* Variables *********************************/

:root{
    --ipl-color: #1B448F;
    --ipl-color2: #1A3E8C;
    
    --ipl-hover: #c2d0f0;
    --ipl-table-even: #D9E1F2;
    --ipl-table-odd: white;
}

/********************************* Styles *********************************/

body{
    margin: 0px;
    background-image: url(https://www.stockvault.net/data/2012/05/02/130583/preview16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* title */
#title{
    background-color: var(--ipl-color);
    color: white;
    margin: 0px;
    padding: 10px 5px;
}

/* table container */
#table-container{
    display: flex;
    justify-content: space-evenly;
    margin: 15px 8px;
}

table{
    border-collapse: collapse;
    text-align: center;
}

/* table points */
#table-container-points table{
    margin-bottom: 15px;
    width: 100%;
}

#table-container-points th{
    background-color: var(--ipl-color2);
    color: white;
    padding: 10px;
    border: 1px solid white;
}

#table-container-points table td{
    border: 1px solid black;
    padding: 10px;
}

#table-container-points table tr:nth-child(even){
    background-color: var(--ipl-table-even);
}

#table-container-points table tr:nth-child(odd){
    background-color: var(--ipl-table-odd);
}

#table-container-points table tr:hover{
    background-color: var(--ipl-hover);
}

/* table extra */
#table-container-extra table{
    margin-bottom: 15px;
    width: 100%;
}

#table-container-extra th{
    background-color: var(--ipl-color2);
    color: white;
    padding: 10px;
    border: 1px solid white;
}

#table-container-extra table td{
    border: 1px solid black;
    padding: 10px;
    width: 33%;
}

#table-container-extra table tr:nth-child(even){
    background-color: var(--ipl-table-even);
}

#table-container-extra table tr:nth-child(odd){
    background-color: var(--ipl-table-odd);
}

#table-container-extra table tr:hover{
    background-color: var(--ipl-hover);
}

/* table schedule */
#table-container-schedule table{
    width: 100%;
}

#table-container-schedule table th{
    background-color: var(--ipl-color2);
    color: white;
    padding: 10px;
    border: 1px solid white;
}

#table-container-schedule table td{
    border: 1px solid black;
    padding: 10px;
}

#table-container-schedule table tr:nth-child(even){
    background-color: var(--ipl-table-even);
}

#table-container-schedule table tr:nth-child(odd){
    background-color: var(--ipl-table-odd);
}

#table-container-schedule table tr:hover{
    transform: scale(1.03);
    box-shadow: 1px 1px 15px black;
}

/* Win Loss */
.win{
    color: white;
    background-color: green;
    border-radius: 5px;
    padding: 0.5px 3px;
}

.loss{
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 0.5px 3px;
}

/* footer */
footer{
    background-color: black;
    color: white;
}

footer p{
    margin: 0px;
    padding: 10px 5px;
}

#sanjay{
    background-color: orange;
    color: black;
    padding: 0px 5px;
    text-decoration: none;
    border-radius: 5px;
}

@media only screen and (max-width: 375px)
{
    #table-container{
        flex-direction: column;
        font-size: 0.7rem;
    }

    #table-container-schedule{
        order: 1;
    }

    footer p{
        font-size: 0.7rem;
    }
}

@media only screen and (min-width: 375px) and (max-width: 767.999px)
{
    #table-container{
        flex-direction: column;
        font-size: 0.9rem;
    }

    #table-container-schedule{
        order: 1;
    }
}

@media only screen and (min-width: 768px)
{
    #table-container-schedule{
        margin: 0px 11px;
        box-shadow: 1px 1px 15px black;
    }
}

/********************************* Utility classes *********************************/

.text-center{
    text-align: center;
}