:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #020202;
    min-height: 100vh;
}

canvas {
    display:block
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 3em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
}

img {
    border: 5px solid white;
    border-radius: 50%;
    background-color: lightblue;
    box-shadow: 0 0 15px 2px yellow;
}

img:hover {
    box-shadow: 0 0 250px 2px white;
}

#text {
    border: 5px solid white;
    border-radius: 50%;
    background-color: lightblue;
    box-shadow: 0 0 15px 2px yellow;
    padding: 15px;
    font-size: 0.3em;
}