:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #020202;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

div {
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 3em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    margin: 15px 3px;
}

img {
    border: 5px solid white;
    border-radius: 15px;
    background-color: lightblue;
    box-shadow: 0 0 15px 2px yellow;
    margin: 1rem;
    user-select: none;
    -webkit-user-drag: none;
    width: 300px;
    object-fit: contain;
}

img:hover {
    box-shadow: 0 0 250px 2px white;
}

#hbd {
    margin-top: 25px;
}

p {
    margin: 0;
}